BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  BeforeElse:      true
BreakBeforeBraces: Stroustrup
IndentWidth:     4
