AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: None
BreakBeforeTernaryOperators: true
ForEachMacros: [json_object_foreach, json_object_foreach_safe, json_array_foreach, search_folder_foreach]
PPIndentWidth: 1
ReflowComments: IndentOnly
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: MultiLine
  AfterEnum:       false
  AfterExternBlock: false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      false
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: NonAssignment
Cpp11BracedListStyle: false
IndentPPDirectives: AfterHash
IndentWidth:     4
InsertBraces: true
PenaltyReturnTypeOnItsOwnLine: 1000
SpaceAfterCStyleCast: true
WhitespaceSensitiveMacros: [xsyslog, xsyslog_ev]
