*.a
*.gcno
*.gcda
*.la
*.lo
*.loT
*.o
*.orig
*.patch
!debian/patches/*.patch
*.pyc
*.rej
*.sig
*.tar.gz
*.tar.bz2
*~
.cache/
.clang-format
.deps
.dirstamp
.libs
.sphinx-build.stamp
/.tags
VERSION
Makefile.in
Makefile
Makefile.bak
Makefile.old
aclocal.m4
autom4te.cache/
bench/cyrdbbench
bin/imtest
cassandane/Cassandane/Config/Bitfields.pm
cmulocal/libtool.m4
cmulocal/ltoptions.m4
cmulocal/ltsugar.m4
cmulocal/ltversion.m4
cmulocal/lt~obsolete.m4
common/lmtp_err.c
common/lmtp_err.h
compile
compile_commands.json
confdefs.h
config.guess
config.h
config.h.in
config.log
config.status
config.status.lineno
config.sub
configure
conftest*
com_err/et/compile_et
coverage.xml
cscope.out
cunit/CUnitAutomated-Results.xml
cunit/run
cunit/test-dbdir
cunit/unit
### ignore intermediate c files from foo.testc
cunit/*.c
### but not the framework files
!cunit/unit*.c
### but do ignore the generated registry file
cunit/unit-registry.c
debian/
depcomp
doc/examples/imapd_conf/imapd.conf.sample
doc/examples/libcyrus/example_libcyrus_min
doc/html/
doc/legacy/murder.png
doc/text/
docsrc/.doctrees/
docsrc/_doxygen/
docsrc/build/
docsrc/developer/cassandane-api/
docsrc/reference/manpages/configs/imapd.conf.rst
docsrc/reference/manpages/usercommands/cyradm.rst
docsrc/reference/manpages/usercommands/sieveshell.rst
imap/css3_color_array.h
imap/cyr_charset
imap/cyr_sequence
imap/cyr_sphinxmgr
imap/fetchnews
imap/fud
imap/http_cal_abook_admin_js.h
imap/http_err.c
imap/http_err.h
imap/httpd
imap/ical_apply_patch
imap/imap_err.c
imap/imap_err.h
imap/jmap_props/*.c
imap/jmap_props/*.h
imap/jmap_data_types.h
imap/jmap_err.c
imap/jmap_err.h
imap/mailbox_header_cache.h
imap/message_test
imap/mupdate_err.c
imap/mupdate_err.h
imap/promdata.c
imap/promdata.h
imap/rfc822_header.h
imap/search_test
imap/squat_dump
imap/tz_err.c
imap/tz_err.h
include/cyrus/imapopts.h
install-sh
lib/chartable.c
libcyrus_min/cron-lex.c
libcyrus_min/cron-parse.c
libcyrus_min/cron-parse.h
libcyrus_min/imapopts.c
libcyrus_min/libcyrus_min.pc
libexec/backupcyrusd
libexec/calalarmd
libexec/idled
libexec/imapd
libexec/lmtpd
libexec/master
libexec/mupdate
libexec/notifyd
libexec/pop3d
libexec/promstatsd
libexec/ptloader
libexec/smmapd
libexec/sync_server
libexec/timsieved
lib/htmlchar.h
lib/mkchartable
libcyrus.pc
libcyrus_imap.pc
libcyrus_sieve.pc
libtool
ltmain.sh
makedepend.log
man/
missing
notifyd/notifytest
perl/annotator/Cyrus-Annotator-Daemon-*/
perl/annotator/Makefile.old
perl/annotator/build.cfg
perl/annotator/MYMETA.json
perl/annotator/MYMETA.yml
perl/annotator/blib/
perl/annotator/pm_to_blib
perl/annotator/MANIFEST
perl/imap/Cyrus-IMAP-*/
perl/imap/IMAP.bs
perl/imap/IMAP.c
perl/imap/Makefile.old
perl/imap/build.cfg
perl/imap/MYMETA.json
perl/imap/MYMETA.yml
perl/imap/MANIFEST
perl/imap/blib/
perl/imap/cyradm
perl/imap/pm_to_blib
perl/sieve/managesieve/Cyrus-SIEVE-managesieve-*/
perl/sieve/managesieve/Makefile.old
perl/sieve/managesieve/build.cfg
perl/sieve/managesieve/MYMETA.json
perl/sieve/managesieve/MYMETA.yml
perl/sieve/managesieve/MANIFEST
perl/sieve/managesieve/blib/
perl/sieve/managesieve/managesieve.bs
perl/sieve/managesieve/managesieve.c
perl/sieve/managesieve/pm_to_blib
perl/sieve/scripts/installsieve
perl/sieve/scripts/sieveshell
sbin/arbitron
sbin/chk_cyrus
sbin/ctl_conversationsdb
sbin/ctl_cyrusdb
sbin/ctl_deliver
sbin/ctl_mboxlist
sbin/ctl_zoneinfo
sbin/cvt_cyrusdb
sbin/cvt_xlist_specialuse
sbin/cyrdump
sbin/cyr_buildinfo
sbin/cyr_dbtool
sbin/cyr_deny
sbin/cyr_df
sbin/cyr_expire
sbin/cyr_guesstz
sbin/cyr_info
sbin/cyr_ls
sbin/cyr_pwd
sbin/cyr_synclog
sbin/cyr_userseen
sbin/cyr_virusscan
sbin/cyr_withlock_run
sbin/dav_reconstruct
sbin/deliver
sbin/ipurge
sbin/mbexamine
sbin/mbpath
sbin/mbtool
sbin/ptdump
sbin/ptexpire
sbin/quota
sbin/reconstruct
sbin/relocate_by_id
sbin/squatter
sbin/sync_client
sbin/sync_reset
sbin/tls_prune
sbin/unexpunge
sieve/addr-lex.c
sieve/addr.c
sieve/addr.h
sieve/sieve-lex.c
sieve/sieve.c
sieve/sieve.h
sieve/sieve_err.c
sieve/sieve_err.h
sieve/sievec
sieve/sieved
sieve/test
sieve/test_mailbox
sieve/tests/
stamp-h1
tools/mkimap
tools/rehash
ylwrap
zoneinfo/

# tzdata/ holds an unmodified IANA release, and some of its files -- Makefile,
# README, version -- are named like the build artefacts above.  Nothing writes
# into that directory, so keep all of it.
!/tzdata/**
