*.o
*.a
*.lo
*.la
*~
*.patch
!debian/patches/*.patch
*.orig
*.pyc
*.rej
*.sig
*.tar.gz
*.tar.bz2
*.gcno
*.gcda
.deps
.libs
.dirstamp
.libs
.sphinx-build.stamp
README
Makefile.in
Makefile
Makefile.bak
Makefile.old
makedepend.log
aclocal.m4
autom4te.cache/
backup/backupd
backup/ctl_backups
backup/cyr_backup
backup/restore
cmulocal/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.status.lineno
config.sub
configure
debian/
com_err/et/compile_et
coverage.xml
cscope.out
depcomp
doc/html/
doc/legacy/murder.png
doc/legacy/netnews.png
doc/text/
docsrc/.doctrees/
docsrc/build/
docsrc/imap/reference/manpages/configs/imapd.conf.rst
docsrc/imap/reference/manpages/systemcommands/cyradm.rst
docsrc/imap/reference/manpages/usercommands/sieveshell.rst
imap/arbitron
imap/calalarmd
imap/ctl_conversationsdb
imap/chk_cyrus
imap/ctl_cyrusdb
imap/ctl_deliver
imap/ctl_mboxlist
imap/ctl_zoneinfo
imap/cvt_cyrusdb
imap/cvt_xlist_specialuse
imap/cyr_buildinfo
imap/cyr_charset
imap/cyr_dbtool
imap/cyr_deny
imap/cyr_df
imap/cyr_expire
imap/cyr_info
imap/cyr_sequence
imap/cyr_sphinxmgr
imap/cyr_synclog
imap/cyr_userseen
imap/cyr_virusscan
imap/cyrdump
imap/dav_reconstruct
imap/deliver
imap/fetchnews
imap/fud
imap/http_caldav_js.h
imap/http_err.c
imap/http_err.h
imap/httpd
imap/idled
imap/imap_err.c
imap/imap_err.h
imap/imapd
imap/ipurge
imap/lmtpd
imap/lmtpstats.c
imap/lmtpstats.h
imap/mbexamine
imap/mbpath
imap/mbtool
imap/message_test
imap/mupdate_err.c
imap/mupdate_err.h
imap/mupdate
imap/nntp_err.c
imap/nntp_err.h
imap/nntpd
imap/pop3d
imap/pushstats.c
imap/pushstats.h
imap/quota
imap/reconstruct
imap/search_test
imap/smmapd
imap/squatter
imap/squat_dump
imap/sync_client
imap/sync_reset
imap/sync_server
imap/tls_prune
imap/tz_err.c
imap/tz_err.h
imap/unexpunge
imtest/imtest
install-sh
lib/chartable.c
lib/imapopts.c
lib/imapopts.h
lib/mkchartable
libcyrus.pc
libcyrus_min.pc
libcyrus_sieve.pc
libtool
ltmain.sh
man/
master/master
missing
netnews/remotepurge
notifyd/notifyd
notifyd/notifytest
perl/annotator/Cyrus-Annotator-Daemon-*/
perl/annotator/Makefile.old
perl/annotator/Makefile.PL
perl/annotator/MYMETA.json
perl/annotator/MYMETA.yml
perl/annotator/blib/
perl/annotator/pm_to_blib
perl/imap/Cyrus-IMAP-*/
perl/imap/IMAP.bs
perl/imap/IMAP.c
perl/imap/Makefile.old
perl/imap/Makefile.PL
perl/imap/blib/
perl/imap/cyradm
perl/imap/pm_to_blib
perl/imap/MYMETA.json
perl/imap/MYMETA.yml
perl/sieve/managesieve/Cyrus-SIEVE-managesieve-*/
perl/sieve/managesieve/MYMETA.json
perl/sieve/managesieve/MYMETA.yml
perl/sieve/managesieve/blib/
perl/sieve/managesieve/managesieve.c
perl/sieve/managesieve/pm_to_blib
perl/sieve/managesieve/Makefile.old
perl/sieve/managesieve/Makefile.PL
perl/sieve/scripts/installsieve
perl/sieve/scripts/sieveshell
ptclient/ptexpire
ptclient/ptdump
ptclient/ptloader
sieve/addr-lex.c
sieve/addr.c
sieve/addr.h
sieve/sieve-lex.c
sieve/sieve.c
sieve/sieve.h
sieve/sieve_err.c
sieve/sieve_err.h
sieve/sievec
sieve/sieved
sieve/test
sieve/tests/
stamp-h1
timsieved/timsieved
tools/vzic/test-output/
tools/vzic/test-vzic
tools/vzic/vzic
ylwrap
