{% extends "!layout.html" %}
{% set css_files = css_files + [ '_static/cyrus.css' ] %}

{% block header %}

<div class="pageheader">
  <ul>
    <li><a href="{{ pathto('index') }}">Home</a></li>
    <li><a href="{{ pathto('imap/download/installation') }}">Download</a></li>
    <li><a href="{{ pathto('contribute') }}">Contribute</a></li>
    <li><a href="{{ pathto('imap/support/feedback') }}">Support</a></li>
    <li><a href="http://www.cyrusimap.org/sasl">Cyrus SASL</a></li>
  </ul>
  <div>
    <a href="{{ pathto('index') }}">
      <img src="{{ pathto('_static/logo.gif', 1) }}" alt="CYRUS" />
    </a>
  </div>
</div>
<div style="clear: both;"></div>
{% endblock %}


{% block footer %}
{{ super() }}

{% endblock %}
