a {
    color: #1f8fc0;
}

a tt {
    color: #1f8fc0;
}

a.internal em {
    font-style: normal;
}

blockquote.epigraph div p {
    font-style: italic;
}

body {
    font-family: sans-serif;
    letter-spacing: 0;
}

cite, code, pre, tt {
    font-family: "Liberation Mono", "Consolas","Deja Vu Sans Mono","Bitstream Vera Sans Mono", monospace;
}

.rst-content code {
    font-size: 90%;
}

div.admonition {
    border-left: 0.5em solid #59bc00;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-top: 0.5em;
}

div.admonition > div:last-child > *:last-child {
    margin-bottom: 0;
}

div.admonition p {
    margin: 1em 0 0.5em 0.5em;
    padding: 0;
}

div.admonition p.admonition-title {
    color: black;
    margin: 1em 0 0.5em 0.5em;
    padding: 0;
    font-weight: bold;
    display: block;
    background-color: inherit;
    border-bottom: none;
}

/* Green 'note' box */
div.admonition.note {
    border-left: 0.5em solid #59bc00;
}

div.admonition.important {
    border-color: #ffc200;
}

div.admonition.warning {
    border-color: #ff0000;
}

div.admonition.tip {
    border-color: #1e90ff;
}

div.admonition-todo {
    border-color: #cccccc;
}

div.admonition.caution {
    border-color: #950000;
}

div.body a {
    text-decoration: none;
    color: #1F8FC0;
}

div.body h1, div.body h2, div.body h3 {
    color: #002e50;
}

div.highlight {
/*   border-left: 0.5em solid #666666; */
    padding: 0;
    margin: 1em 0 0.5em 0;
}

.highlight {
	background: #eeeeee;
}

div.highlight pre {
    border: 0px solid;
    margin: 1em 0.5em 0.5em 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-top: 0.5em;
}

div.linenodiv pre {
    padding: 0.5em 0 0;
}

div.related {
    background-color: #1F8FC0;
}

div.related ul li a {
    color: white;
}


div.sphinxsidebar h3, div.sphinxsidebar h4 {
    background-color: #002e50;
    border: 1px solid white;
    color: white;
}

div.sphinxsidebar h3 a {
    color: white;
}

ol.arabic li {
    margin-top: 0.5em;
	line-height: 110%
}

nav.wy-nav-side p.caption {
    font-style: italic;
}

nav.wy-nav-side p.caption-text {
    font-size: 60%
}

nav.wy-nav-side p.caption {
    font-size: 100%
}

/* For bold-italic and italic inside other formatting styles */
/* ``command line `` :italic:`with italics`
 */

.bolditalic {
    font-weight: bold;
    font-style: italic;
}

.italic {
    font-style: italic;
}

.pageheader {
    background-image: url(headimg.gif);
    text-align: left;
    padding: 10px 15px;
}

.pageheader ul {
    float: right;
    color: white;
    list-style-type: none;
    padding-left: 0;
    margin-top: 30px;
    margin-right: 10px;
}

.pageheader li {
    float: left;
    margin: 0 0 0 10px;
}

.pageheader li a {
    border-radius: 1px;
    padding: 8px 12px;
    color: #f9f9f0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.pageheader li a:hover {
    background-color: #f9f9f0;
    color: #0a507a;
    text-shadow: none;
}

.wy-nav-content {
    max-width: 100%
}

.wy-nav-side {
    background-color: #2d9dcb;
    color: white;
}

.wy-nav-side li a {
    color: white;
}

.wy-side-nav-search {
    background-color: #2d9dcb;
}

.wy-side-nav-search a img {
        margin-bottom: 0px;
}

.wy-side-nav-search a:hover {
    background-color: #2d9dcb;
}

.wy-side-nav-search img {
    border-radius: initial;
    width: 100%;
    height: 100%;
    background-color: #2d9dcb;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

h4 {
    font-style: italic;
}

.rst-content .sidebar {
    width: 35%;
    padding-bottom: 0px;
    font-size: 80%;
}

.rst-content .sidebar {
    margin-bottom: 0px;
    line-height: 18px;
}

.rst-content .sidebar blockquote {
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    line-height: 18px;
}

.rst-content .sidebar p {
    line-height: 18px;
}

div.buildstatus {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 80%;
}

div.buildstatus a:visited {
    color: white;
}
