name: Cyrus IMAP CI

on:
  push:
  pull_request:
    branches:
      - master
      - main
      - cyrus-imapd-3.6
      - cyrus-imapd-3.4
      - cyrus-imapd-3.2
      - cyrus-imapd-3.0
jobs:
  build:
    runs-on: ubuntu-latest
    container:
        image: cyrusimapdocker/cyrus-buster:latest
        options: --sysctl net.ipv6.conf.all.disable_ipv6=0 --init
    steps:
    - uses: actions/checkout@v3
    - name: configure and build
      run: |
        ./tools/build-with-cyruslibs.sh
    - name: update jmap test suite
      run: |
        cd /srv/JMAP-TestSuite.git
        git fetch
        git checkout origin/master
        git clean -f -x -d
        cpanm --installdeps .
        cd -
    - name: run cassandane
      run: |
        cd cassandane
        cp -af cassandane.ini.dockertests cassandane.ini
        chown cyrus:mail cassandane.ini
        make
        setpriv --reuid=cyrus --regid=mail --clear-groups --inh-caps='-chown,-dac_override,-dac_read_search,-fowner,-fsetid,-kill,-setgid,-setuid,-setpcap,-linux_immutable,-net_bind_service,-net_broadcast,-net_admin,-net_raw,-ipc_lock,-ipc_owner,-sys_module,-sys_rawio,-sys_chroot,-sys_ptrace,-sys_pacct,-sys_admin,-sys_boot,-sys_nice,-sys_resource,-sys_time,-sys_tty_config,-mknod,-lease,-audit_write,-audit_control,-setfcap,-mac_override,-mac_admin,-syslog,-wake_alarm,-block_suspend,-audit_read,-cap_38,-cap_39,-cap_40' ./testrunner.pl -f pretty -j 4
        cd -
